@import '~antd/dist/antd.less';

.text-center{
  text-align: center!important;
  display: flex;
  justify-content: center;
}
.inline-block{
  display: inline-block!important;
}
.logo-container{
  margin-top: 100px;
}
.table-buttons-container{
  display: flex;
  justify-content: left;
  padding: 10px 0;
  button {
    margin: 5px;
  }
}
#root {
  background: #F5F5F5;
  height: 100vh;
}
.ant-input-affix-wrapper{
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
}
.form-container {
  background: #FFFFFF;
  border: 1px solid rgba(219, 219, 219, 0.4);
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  padding: 20px;
  border-radius: 6px;
  label{
    color: #aeaeae;
  }

}